node_modules/
src/node_modules/

# Tooling workspace
/test-tooling/node_modules/
/test-tooling/node_modules.old/
/test-tooling/npm-debug.log*
/test-tooling/*.log
/test-tooling/.cache/

# Ignore generated JS from TypeScript sources
/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts

# Optional IDE artifacts
*.swp
*.swo
*.tmp
/e2e/node_modules/
/e2e/node_modules.old/
/e2e/test-results/

venv/

*.pyc
